@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

.container {
  position: relative;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  padding: 20px 30px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn-trans {
  background: transparent;
}

.btn-green {
  background-color: #34c176;
}

@media screen and (max-width: 414px) {
  .container {
    max-width: 414px;
  }
}
.header {
  position: relative;
  padding: 200px 0;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.menu-wrapper {
  position: absolute;
  top: -175px;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
}
.menu-wrapper a {
  color: #fff;
  text-decoration: none;
}
.menu-wrapper .logo-block {
  display: flex;
  align-items: center;
  margin-right: 90px;
}
.menu-wrapper .logo-block .logo-img {
  margin-right: 16px;
}
.menu-wrapper .nav-block {
  display: flex;
  list-style-type: none;
}
.menu-wrapper .nav-block .nav-block-item {
  margin-right: 24px;
  line-height: 1.5;
}
.menu-wrapper .search-box {
  margin-right: 0px;
  margin-left: auto;
}
.menu-wrapper .search-box .search-input {
  box-sizing: border-box;
  width: 248px;
  height: 25px;
  padding: 5px 0 5px 10px;
  background: transparent;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}
.menu-wrapper .search-box .search-input::placeholder {
  font-size: 13.3px;
  text-transform: uppercase;
}

.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
.header-description .header-title {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-description .header-subtitle {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-description .header-txt {
  font-size: 16px;
  margin-top: 31px;
  margin-bottom: 17px;
}
.header-description .header-form {
  max-width: 570px;
}
.header-description .header-form .header-input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.header-description .header-form .header-input:first-of-type {
  margin-right: 24px;
}
.header-description .header-form .header-input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.header-description .header-form .header-btn {
  width: 100%;
  font-size: 13.3px;
}

@media screen and (max-width: 414px) {
  .header .menu-wrapper {
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
  }
  .header .menu-wrapper .logo-block {
    margin-bottom: 17px;
  }
  .header .menu-wrapper .nav-block {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 23px;
  }
  .header .menu-wrapper .search-input {
    width: 374px;
  }
  .header .header-description {
    text-align: center;
  }
  .header .header-description .header-title {
    margin-top: 50px;
    font-size: 30px;
  }
  .header .header-description .header-subtitle {
    font-size: 18px;
  }
  .header .header-description .header-txt {
    margin-top: 16px;
  }
  .header .header-description .header-input {
    width: 100%;
  }
}
.page-pricing {
  padding: 100px 0;
  text-align: center;
  color: #fff;
}
.page-pricing .pricing-title {
  margin-bottom: 45px;
  font-size: 38px;
  text-transform: uppercase;
}
.page-pricing .card-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.page-pricing .card-box .card {
  width: 366px;
  padding: 0 1.5rem;
  margin-right: 50px;
  border: 1px solid white;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}
.page-pricing .card-box .card:last-of-type {
  margin-right: 0;
}
.page-pricing .card-box .card .card-title {
  margin-top: 24px;
  margin-bottom: 200px;
  font-size: 24px;
  line-height: 45px;
  text-transform: uppercase;
}
.page-pricing .card-box .card .card-price {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
  line-height: 1em;
  font-size: 32px;
}
.page-pricing .card-box .card .card-price .card-num {
  padding-right: 15px;
  font-size: 64px;
  line-height: 1em;
}
.page-pricing .card-box .card .card-price .card-currency {
  line-height: 1em;
}
.page-pricing .card-box .card .card-btn {
  width: 100%;
  font-size: 13.3px;
  border: 1px solid #fff;
}
.page-pricing .card-box .card .card-description {
  margin: 64px 0;
  font-size: 12.8px;
}
.page-pricing .price-description {
  margin-top: 43px;
  font-size: 16px;
}

.free-bg {
  background-image: url("../images/subscribe_1.png");
}

.standart-bg {
  background-image: url("../images/subscribe_2.png");
}

.premium-bg {
  background-image: url("../images/subscribe_3.png");
}

@media screen and (max-width: 414px) {
  .page-pricing {
    width: 100%;
    padding: 0 20px;
    margin: 100px 0;
  }
  .page-pricing .pricing-title {
    margin-bottom: 45px;
    font-size: 18px;
  }
  .page-pricing .card-box .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .page-pricing .card-box .card:last-of-type {
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=app.css.map */
