@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

.container {
  position: relative;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  margin-bottom: 45px;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.txt {
  font-size: 16px;
  color: #fff;
}

.btn {
  padding: 20px 30px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

.btn-trans {
  background: transparent;
}

.btn-green {
  background-color: #34c176;
}

.btn-brown {
  background-color: #95390c;
}

.btn-purple {
  background-color: #5328a1;
}

@media screen and (max-width: 414px) {
  .container {
    max-width: 414px;
    padding: 0 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  .card-title {
    font-size: 16px;
  }
  h4 {
    font-size: 18px;
  }
}
.main-header-bg {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.header {
  position: relative;
  padding: 200px 0;
}
.header .menu-wrapper {
  position: absolute;
  top: -175px;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
}
.header .menu-wrapper a {
  color: #fff;
  text-decoration: none;
}
.header .menu-wrapper .logo-block {
  display: flex;
  align-items: center;
  margin-right: 90px;
}
.header .menu-wrapper .logo-block .logo-img {
  margin-right: 16px;
}
.header .menu-wrapper .nav-block {
  display: flex;
  list-style-type: none;
}
.header .menu-wrapper .nav-block .nav-block-item {
  margin-right: 24px;
  line-height: 1.5;
}
.header .menu-wrapper .search-box {
  margin-right: 0px;
  margin-left: auto;
}
.header .menu-wrapper .search-box .search-input {
  box-sizing: border-box;
  width: 248px;
  height: 25px;
  padding: 5px 0 5px 10px;
  background: transparent;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}
.header .menu-wrapper .search-box .search-input::placeholder {
  font-size: 13.3px;
  text-transform: uppercase;
}

.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
.header-description .header-title {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-description .header-subtitle {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-description .header-txt {
  font-size: 16px;
  margin-top: 31px;
  margin-bottom: 17px;
}
.header-description .header-form {
  max-width: 570px;
}
.header-description .header-form .header-input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.header-description .header-form .header-input:first-of-type {
  margin-right: 24px;
}
.header-description .header-form .header-input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.header-description .header-form .header-btn {
  width: 100%;
  font-size: 13.3px;
}

@media screen and (max-width: 414px) {
  .menu-wrapper {
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
  }
  .menu-wrapper .logo-block {
    margin-bottom: 17px;
  }
  .menu-wrapper .nav-block {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 23px;
  }
  .menu-wrapper .search-input {
    width: 374px;
  }
  .header-description {
    text-align: center;
  }
  .header-description .header-title {
    margin-top: 50px;
    font-size: 30px;
  }
  .header-description .header-subtitle {
    font-size: 18px;
  }
  .header-description .header-txt {
    margin-top: 16px;
  }
  .header-description .header-input {
    width: 100%;
  }
}
.page-pricing {
  margin-top: 100px;
  text-align: center;
  color: #fff;
}
.page-pricing .card-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.page-pricing .card-box .card {
  box-sizing: border-box;
  width: 368px;
  padding: 0 1.5rem;
  margin-right: 46px;
  border: 1px solid white;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}
.page-pricing .card-box .card:last-of-type {
  margin-right: 0;
}
.page-pricing .card-box .card .card-title {
  margin-top: 24px;
  margin-bottom: 200px;
  font-size: 24px;
  line-height: 45px;
  text-transform: uppercase;
}
.page-pricing .card-box .card .card-price {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
  line-height: 1em;
  font-size: 32px;
}
.page-pricing .card-box .card .card-price .card-num {
  padding-right: 15px;
  font-size: 64px;
  line-height: 1em;
}
.page-pricing .card-box .card .card-price .card-currency {
  line-height: 1em;
}
.page-pricing .card-box .card .card-btn {
  width: 100%;
  font-size: 13.3px;
  border: 1px solid #fff;
}
.page-pricing .card-box .card .card-description {
  margin: 64px 0;
  font-size: 12.8px;
}
.page-pricing .price-description {
  margin-top: 43px;
  font-size: 16px;
}

.free-bg {
  background-image: url("../images/subscribe_1.png");
}

.standart-bg {
  background-image: url("../images/subscribe_2.png");
}

.premium-bg {
  background-image: url("../images/subscribe_3.png");
}

@media screen and (max-width: 414px) {
  .page-pricing {
    width: 100%;
    padding: 0 20px;
  }
  .page-pricing .pricing-title {
    margin-bottom: 45px;
    font-size: 18px;
  }
  .page-pricing .card-box .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .page-pricing .card-box .card .card-title {
    font-size: 16px;
  }
  .page-pricing .card-box .card:last-of-type {
    margin-bottom: 40px;
  }
}
.page-news {
  padding: 100px 0 0 0;
}
.page-news .news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.page-news .news:last-of-type {
  margin-bottom: 0;
}
.page-news .news .news-item {
  max-width: 575px;
}
.page-news .news .news-item:first-of-type {
  margin-right: 50px;
}
.page-news .news .news-item .news-item-img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.page-news .news .news-item-title {
  font-size: 30px;
  font-weight: normal;
  line-height: 45px;
  color: #fff;
}
.page-news .news .news-item-text {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #cacaca;
}
.page-news .news .news-item-footer {
  display: flex;
  margin-bottom: 48px;
  font-size: 12px;
}
.page-news .news .news-item-footer .news-author {
  display: flex;
  text-decoration: none;
}
.page-news .news .news-item-footer .news-author .author-name {
  margin: 0 16px;
  color: #f89202;
  text-transform: uppercase;
}
.page-news .news .news-btn {
  width: 135px;
  padding: 16px 30px;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  text-decoration: none;
  color: #cacaca;
  border: 1px solid #fff;
}

@media screen and (max-width: 414px) {
  .news {
    flex-direction: column;
    padding: 0 20px;
  }
  .news .news-item {
    width: 100%;
  }
  .news .news-item .news-item-img {
    margin-bottom: 50px;
  }
  .news .news-item .news-item-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
  }
  .news-odd {
    flex-direction: column-reverse;
  }
}
.page-app {
  padding-top: 100px;
  margin-bottom: 100px;
}
.page-app .app-block {
  display: flex;
}
.page-app .app-block .app-item {
  max-width: 600px;
  font-size: 16px;
}
.page-app .app-block .app-item:last-of-type {
  margin: 0 auto;
}
.page-app .app-block .app-btn {
  margin-top: 16px;
  padding: 16px 40px;
  font-size: 12.8px;
  background-color: #95390c;
  border: none;
  border-radius: 32px;
}

@media screen and (max-width: 414px) {
  .app-block {
    flex-direction: column-reverse;
  }
}
.footer {
  color: #e0e0e0;
  font-size: 16px;
}
.footer .columns-wrapper {
  padding-top: 62px;
  padding-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
}
.footer .columns-wrapper .columns-item {
  width: 270px;
  margin-right: 40px;
  color: #fff;
}
.footer .columns-wrapper .columns-item h2 {
  margin-bottom: 16px;
  font-size: 17px;
  text-align: left;
  text-transform: uppercase;
}
.footer .columns-wrapper .columns-item:last-of-type {
  margin-right: 0;
}
.footer .columns-wrapper .columns-item .column-list {
  margin-top: 15px;
  list-style-type: none;
}
.footer .columns-wrapper .columns-item .column-list .column-list-item a {
  text-decoration: none;
  color: #e0e0e0;
}
.footer .columns-wrapper .media-icons {
  display: flex;
}
.footer .columns-wrapper .media-icons .column-list-item {
  margin-right: 24px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 49px;
  list-style-type: none;
}
.footer-links .footer-links-item a {
  margin-right: 16px;
  font-size: 16px;
  text-decoration: none;
  color: #e0e0e0;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

@media screen and (max-width: 414px) {
  .columns-wrapper {
    flex-direction: column;
  }
  .columns-wrapper .columns-item {
    margin-bottom: 30px;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-links .footer-links-item {
    margin-bottom: 16px;
  }
}
.artist-header-bg {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.header {
  position: relative;
  padding: 200px 0;
}
.header .artist-buttons-wrapper {
  margin-top: 48px;
}
.header .artist-buttons-wrapper .artist-btn {
  width: 200px;
  padding: 20px 0 20px 67px;
  font-size: 12.8px;
  text-align: start;
  text-transform: uppercase;
}
.header .artist-buttons-wrapper .artist-btn:first-of-type {
  margin-right: 1.5rem;
}
.header .artist-buttons-wrapper .play-btn {
  position: relative;
}
.header .artist-buttons-wrapper .play-btn::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0 auto 31px;
  width: 20px;
  height: 20px;
  content: url("../images/play-button.svg");
  filter: invert(1);
}
.header .artist-buttons-wrapper .favorites-btn {
  position: relative;
}
.header .artist-buttons-wrapper .favorites-btn::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0 auto 31px;
  width: 20px;
  height: 20px;
  content: url("../images/heart.svg");
  filter: invert(1);
}

@media screen and (max-width: 414px) {
  .header-artist-title {
    padding-top: 55px;
  }
  .artist-btn {
    margin-bottom: 1rem;
  }
}
.popular-tracks {
  padding-top: 100px;
}
.popular-tracks .popular-tracks-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.popular-tracks .popular-tracks-block .popular-track {
  position: relative;
  display: flex;
  width: 550px;
  margin-right: 50px;
  margin-bottom: 25px;
  color: #e0e0e0;
}
.popular-tracks .popular-tracks-block .popular-track:nth-child(2n) {
  margin-right: 0;
}
.popular-tracks .popular-tracks-block .popular-track .track-info {
  margin-left: 15px;
  font-size: 12.8px;
}
.popular-tracks .popular-tracks-block .popular-track .track-info .track-name {
  font-weight: bold;
  text-transform: uppercase;
}
.popular-tracks .popular-tracks-block .popular-track .track-info .track-time {
  position: absolute;
  top: 30%;
  right: 0;
}

@media screen and (max-width: 414px) {
  .popular-tracks .popular-tracks-block .popular-track {
    margin-right: 0;
  }
}
.discography {
  padding-top: 100px;
}
.discography .discography-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.discography .discography-blocks .discography-item {
  margin-right: 50px;
  margin-bottom: 25px;
}
.discography .discography-blocks .discography-item:nth-child(4n) {
  margin-right: 0;
}
.discography .discography-blocks .discography-item .album-cover {
  margin-bottom: 18px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (max-width: 414px) {
  .discography .album-cover {
    width: 137px;
  }
  .discography .discography-blocks .discography-item:nth-child(2n) {
    margin-right: 0;
  }
}
.similar-artists {
  padding-top: 100px;
  margin-bottom: 100px;
}
.similar-artists .similar-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.similar-artists .similar-block .similar-item {
  margin-right: 50px;
  margin-bottom: 25px;
}
.similar-artists .similar-block .similar-item .similar-img {
  margin-bottom: 18px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.similar-artists .similar-block .similar-item .similar-info {
  text-align: center;
}
.similar-artists .similar-block .similar-item .similar-info .similar-artist-name {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.similar-artists .similar-block .similar-item .similar-info .similar-subscribers-count {
  font-size: 16px;
  color: #e0e0e0;
}

@media screen and (max-width: 414px) {
  .similar-artists .similar-img {
    width: 137px;
  }
  .similar-artists .similar-block .similar-item:nth-child(2n) {
    margin-right: 0;
  }
  .similar-artists .similar-block .similar-item .similar-info {
    width: 137px;
  }
}

/*# sourceMappingURL=app.css.map */
