:root {
  --black: #08020d;
  --light-grey: #e0e0e0;
  --grey: #cacaca;
  --dark-grey: #3c3b3d;
  --green: #34c176;
  --orange: #f89202;
  --purple: #5328a1;
  --brown: #95390c;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--grey);
  background-color: var(--black);
}

/* header's styles */

h1, 
h2 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font: 24px/45px;
}

h4 {
  font-size: 18px;
}

/* text's styles */

.text-size-7 {
  font-size: 64px;
}

.text-size-6 {
  font-size: 56px;
}

.text-size-5 {
  font-size: 48px;
}

.text-size-4 {
  font-size: 40px;
}

.text-size-3 {
  font-size: 32px;
}

.text-size-2 {
  font-size: 24px;
}

.text-size-1 {
  font-size: 16px;
}

.small-text {
  font-size: 12.8px;
}

/* accents for typography */

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}


@media (max-width: 414px) {
  h1, 
  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 27px;
  }
}