.discography {
  padding-top: 100px;

  .discography-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    color: $white;

    .discography-item {
      margin-right: 50px;
      margin-bottom: 25px;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:nth-last-child(-n+4) {
        margin-bottom: 0;
      }

      .album-name {
        font-size: 18px;
        font-weight: bold;
      }

      .album-cover {
        margin-bottom: 18px;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 414px) {
.discography {
  .album-cover {
    width: 137px;
  }

  .discography-blocks {
    .discography-item {
      .album-name {
        width: 140px;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-last-child(-n+4) {
        margin-bottom: 25px;
      }

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }
}
}