@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: 
    url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: 
    url("../fonts/Roboto-Bold.ttf");
}

* {
  @include reset-styles
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: $grey;
  background-color: $black;
}

.container {
  position: relative;

  box-sizing: border-box;

  max-width: 1240px;
  padding: 0 20px;

  margin: 0 auto;

  // border: 1px solid red;
}

h1 {
  font-size: $h1-size-desk;
  @include title-bold;

  color: $white;
}

h2 {
  font-size: $h2-size-desk;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.section-title {
  font-weight: bold;
  margin-bottom: 48px;
}

.section-title-artist {
  margin-bottom: 48px;
  text-align: start;
}

.txt {
  font-size: $text-1;
  color: $white;
}

.btn {
  padding: 20px 30px;

  color: $white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

.btn-trans {
  background: transparent;
}

.btn-green {
  background-color: $green;
}

.btn-brown {
  background-color: $brown;
}

.btn-purple {
  background-color: $purple;
}

@media screen and (max-width: 414px) {
  .container {
    max-width: 454px;
    padding: 0 20px;
  }

  h1 {
    font-size: $h1-size-mob;
  }

  h2 {
    font-size: $h2-size-mob;
    font-weight: 400;
  }

  .card-title {
    font-size: 16px;
  }

  h4 {
    font-size: $h4-size-mob;
  }
}
