.page-news {
  padding-top: 100px;

  .news {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 65px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .news-item {
        max-width: 575px;
        
        &:first-of-type {
          margin-right: 50px;
        }

        .news-item-img {
          max-width: 100%;
          height: auto;

          vertical-align: middle;
        }
      }
    
      .news-item-title {
        font-size: 30px;
        font-weight: normal;
        line-height: 45px;
  
        color: $white;
      }

      .news-item-text {
        margin-top: 30px;
        margin-bottom: 24px;

        font-size: $text-1;
        color: $grey;
      }

      .news-item-text-second {
        margin-top: 30px;
        margin-bottom: 16px;
      }

      .news-item-footer {
        display: flex;

        margin-bottom: 60px;
        font-size: 12px;
        
        .news-author {
          display: flex;
          text-decoration: none;
          
          .author-name {
            margin: 0 16px;

            color: $orange;
            text-transform: uppercase;
          }
        }
      }

      .news-btn {
        display: block;
        width: 135px;
        height: 53px;
        padding: 16px 30px;

        font-size: 12px;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;

        color: $grey;
        border: 1px solid $white;
      }
    }
  }


@media screen and (max-width: 414px) {
  .news {
    flex-direction: column;
    // border: 1px solid red;

    padding: 0 20px;

    .news-item {
      width: 100%;

      .news-item-img {
        margin-bottom: 50px;
      }

      .news-item-title {
        font-size: $h3-size-mob;
        line-height: 24px;
        text-transform: capitalize;
      }

      .news-item-text {
        margin-top: 16px;
      }

      .news-item-text-second {
        margin-top: 16px;
      }

      .news-item-footer {
        margin-bottom: 48px;
      }
    }

  }
  .news-odd {
    flex-direction: column-reverse
  }
}