.popular-tracks {
  padding-top: 100px;

  .popular-tracks-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    .popular-track {
      position: relative;
      display: flex;
      align-items: center;
      width: 550px;
      margin-right: 50px;
      margin-bottom: 25px;
      color: $light-grey;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(5) {
        margin-bottom: 0;
      }

      &:nth-child(6) {
        margin-bottom: 0;
      }

      .track-info {
        margin-left: 15px;
        font-size: 12.8px;

        .track-name {
          font-weight: bold;
          text-transform: uppercase;
        }

        .track-time {
          position: absolute;
          top: 30%;
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .popular-tracks {
    .popular-tracks-block {
      .popular-track {
        margin-right: 0;

        &:last-of-type {
          margin-bottom: 0;
        }

        .track-info {
          .track-time {
            position: absolute;
            top: 25%;
            right: 0;
          }
        }
      }
    }
  }
}