.page-pricing {
  padding-top: 100px;
  text-align: center;
  color: $white;

  .section-title {
    margin-bottom: 48px;
  }

  .card-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .card {
      // box-sizing: border-box;

      width: 368px;
      height: 615px;

      padding: 0 1.5rem;
      border-radius: 1rem;

      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
  
      .card-title {
        margin-top: 24px;
        margin-bottom: 200px;
        font-size: $h3-size-desk;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
      }
  
      .card-price {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        margin-bottom: 40px;
        line-height: 1em;
        font-size: $text-3;

        .card-num {
          padding-right: 15px;
          font-size: $text-7;
          line-height: 1em;
        }

        .card-currency {
          text-transform: uppercase;
          line-height: 48px;
        }
      }
  
      .card-btn {
        font-family: "Roboto";
        padding: 20px 115px;
  
        font-size: 16px;
        line-height: 1.5;
        border: 1px solid $white;
      }

      .card-description {
        // width: 318px;
        margin: 64px 0;

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }

    .free-bg {
      background-image: url('../images/subscribe_1.png');
    }
    
    .standart-bg {
      background-image: url('../images/subscribe_2.png');
    }
    
    .premium-bg {
      background-image: url('../images/subscribe_3.png');
    }
  }

  .price-description {
    margin-top: 43px;
    font-size: $text-1;
  }
}

@media screen and (max-width: 414px) {
  .page-pricing {
    width: 100%;

    .pricing-title {
      margin-bottom: 45px;
      font-size: $h2-size-mob;
    }

    .card-box {
      .card {
        width: 374px;
        height: 598px;
        margin-bottom: 50px;

        .card-title {
          margin-top: 16px;
          font-size: $h3-size-mob;
        }

        &:last-of-type {
          margin-bottom: 40px;
        }
      }
    }

    .price-description {
      margin-top: 0;
    }
  }
}