$white: #fff;
$black: #08020d;
$light-grey: #e0e0e0;
$grey: #cacaca;
$dark-grey: #3c3b3d;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$brown: #95390c;
$main-fonts: "Roboto", arial, sans-serif;
$h1-size-desk: 60px;
$h2-size-desk: 38px;
$h3-size-desk: 24px;
$h4-size-desk: 18px;
$h1-size-mob: 30px;
$h2-size-mob: 18px;
$h3-size-mob: 16px;
$h4-size-mob: 18px;
$text-7: 64px;
$text-6: 56px;
$text-5: 48px;
$text-4: 40px;
$text-3: 32px;
$text-2: 24px;
$text-1: 16px;
$small: 12.8px;
$base-lh: 1.5;
$h3-ln-desc: 45px;
$h4-ln-mob: 24px;


